{% extends 'base.html' %} {% block content %} 
<!--  product card  -->

{% load cartinfo %}

{% load customfilter %} 
<div class="container-fluid mt-3">
  <div class="row">
    <!-- filter -->
    <div class="col-lg-2 max-auto">
      <div class="list-group">
        <a href="/" class="list-group-item" list-group-item-action active
          >All products</a
        >

        {% for category in categories %}
        <a
          href="/?category={{category.id}}"
          class="list-group-item"
          list-group-item-action
          active
          >{{ category.name }}</a
        >
        {% endfor %}
      </div>
    </div>

    <!-- all products -->
    <div id="products" class="col-lg-9">
      <div class="row mx-auto">
        {% for product in products %}
        <div class="card mx-auto mb-3" id="{{product.id}}" style="width: 18rem">
          <img src="{{ product.image.url }}" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{product.price|currency}}</p>
          </div>
          <div class="cart-footer p-3 no-gutters">
            {% if  product|is_in_cart:request.session.cart %}
            <div class="row  no-gutters" >
              <form action="/#{{product.id}}" method="post" class="col-2">
                {% csrf_token %}
               <input hidden name="product" type="text" value="{{product.id}}" />
               <input hidden name="remove" type="text" value="True" />
               <input
               type="submit"
               class="btn btn-block btn-secondary"
               value="-"
             />
             </form>
              <div class="text-center col">{{product|cart_quantity:request.session.cart}}</div>
              <form action="/#{{product.id}}" method="post" class="col-2">
                 {% csrf_token %}
                <input hidden name="product" type="text" value="{{product.id}}" />
                <input
                type="submit"
                class="btn btn-block btn-secondary"
                value="+"
              />
              </form>
              </div>
            
            {% else %}
            <form action="/#{{product.id}}" method="post" class="btn block">
              {% csrf_token %}
              <input hidden name="product" type="text" value="{{product.id}}" />
              <input
                type="submit"
                class="float-right btn btn-light border btn-sm block"
                value="Add to cart"
              />
            </form>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>




{% endblock %}
